.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

a {
  border: 1px none #000;
  color: #191818;
  text-decoration: none;
}

a.w--current {
  color: #333;
}

.body {
  margin: auto;
  background-color: #313131;
}

.container {
  position: relative;
  display: block;
  max-width: 1100px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #fff;
}

.logo {
  position: static;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: center;
}

.logoheader {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
}

.navigation {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 9999;
}

.heading {
  margin-top: 0px;
  font-family: 'Darker Grotesque', sans-serif;
  font-weight: 300;
}

.navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  display: block;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  background-color: #fffefe;
  font-family: 'Darker Grotesque', sans-serif;
  font-size: 11px;
  font-weight: 600;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.middle {
  position: relative;
  display: block;
  width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -o-object-fit: cover;
  object-fit: cover;
}

.div-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  padding: 100px 60px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #2b2b2b;
}

.heading-2 {
  position: static;
  margin-bottom: 46px;
  font-family: 'Darker Grotesque', sans-serif;
  font-size: 1em;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.text-block {
  max-width: 850px;
  margin-right: auto;
  margin-left: auto;
  font-family: 'Darker Grotesque', sans-serif;
  color: #fff;
  font-size: 1em;
  line-height: 200%;
  letter-spacing: 2px;
}

.homehero {
  margin-top: 34px;
}

.grid {
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

.artwork {
  padding: 19px;
}

.div-block-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.nav-menu {
  position: static;
  float: none;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.text-block-2 {
  font-family: 'Darker Grotesque', sans-serif;
  color: #908f8f;
  font-size: 1em;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.buttomdiv {
  margin-top: 24px;
}

.contactfooter {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 60px;
  padding-bottom: 60px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #201f1f;
  color: #333;
}

.text-block-3 {
  margin-bottom: 0px;
  font-family: 'Darker Grotesque', sans-serif;
  color: #fff;
  font-size: 1em;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.text-span {
  font-size: 0.8em;
  font-weight: 600;
}

.text-span-2 {
  font-size: 0.8em;
  font-weight: 600;
}

.person {
  margin-right: auto;
  margin-left: auto;
  padding: 100px 60px;
  background-color: #171717;
  font-family: 'Darker Grotesque', sans-serif;
}

.div-block-5 {
  margin-right: auto;
  margin-left: auto;
}

.image {
  margin-bottom: 60px;
}

.link {
  color: #d8cfcf;
}

.link-2 {
  color: #999090;
}

.heading-3 {
  font-family: 'Darker Grotesque', sans-serif;
  color: #fff;
  font-weight: 300;
  text-align: center;
}

.nav-link {
  color: #333;
}

.nav-link-2 {
  color: #4a4646;
}

.nav-link-2.w--current {
  color: #332f2f;
}

.aboutperson {
  margin-right: auto;
  margin-left: auto;
  padding-right: 60px;
  padding-left: 60px;
  background-color: #171717;
}

.grid-2 {
  max-width: 1100px;
  grid-column-gap: 40px;
  grid-row-gap: 100px;
  -ms-grid-columns: 0.5fr 1fr;
  grid-template-columns: 0.5fr 1fr;
  color: #fff;
}

.profileblock {
  font-size: 1.2em;
  line-height: 150%;
  letter-spacing: 1px;
}

.namehead {
  font-size: 2em;
  font-weight: 300;
}

.grid-3 {
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

.instagram-data {
  min-height: 140px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.instagram-link {
  display: block;
  text-decoration: none;
}

.slider {
  width: 100%;
  height: 300px;
}

.instagram-image {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
  object-fit: cover;
}

.feed-wrapper {
  display: -ms-grid;
  display: grid;
  width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  justify-items: stretch;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 40px;
  -ms-grid-columns: 300px 300px 300px;
  grid-template-columns: 300px 300px 300px;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.post-video {
  position: relative;
  width: 100%;
  height: 300px;
  border-style: none;
  border-width: 1px;
  border-color: #e7e7e7;
  border-radius: 0px;
  background-color: #fff;
}

.post-link-block {
  display: block;
  color: #333;
  text-decoration: none;
  cursor: pointer;
}

.account-link {
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
  font-family: Lato, sans-serif;
  color: #fff;
  font-weight: 700;
  text-decoration: none;
}

.account-link:hover {
  color: #999090;
}

.date {
  margin-bottom: 0px;
  font-family: Lato, sans-serif;
  color: #fff;
  font-size: 12px;
  font-weight: 700;
}

.hashtag {
  margin-right: 5px;
  padding: 5px 5px 5px 0px;
  background-color: transparent;
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
  font-family: Lato, sans-serif;
  font-size: 12px;
}

.hashtag:hover {
  padding-left: 0px;
  color: #da00b1;
}

.instagram-infos {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.play-pause-button {
  position: absolute;
  left: 50%;
  top: 50%;
  right: 0%;
  bottom: 0%;
  z-index: 999;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: rgba(50, 144, 226, 0.52);
  background-image: url('/static/images/pause.svg');
  background-position: 50% 50%;
  background-size: 15px 15px;
  background-repeat: no-repeat;
  opacity: 0.4;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.play-pause-button.paused {
  background-image: url('/static/images/play.svg');
  opacity: 0.4;
}

.slide {
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.instagram-title {
  min-height: 50px;
  margin-bottom: 0px;
  font-family: Lato, sans-serif;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
}

.text-block-4 {
  font-family: 'Darker Grotesque', sans-serif;
  color: #fff;
  font-size: 1.2em;
  letter-spacing: 1px;
}

.div-block-6 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.grid-4 {
  width: 90%;
  -ms-grid-columns: 0.5fr 0.25fr 0.25fr;
  grid-template-columns: 0.5fr 0.25fr 0.25fr;
  text-align: left;
}

.div-block-7 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.div-block-8 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 38px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.image-2 {
  margin-right: 14px;
}

.text-block-5 {
  color: #fff;
}

@media screen and (max-width: 991px) {
  .div-block {
    padding-right: 40px;
    padding-left: 40px;
  }

  .menu-button {
    display: none;
  }

  .nav-menu {
    display: block;
    width: 100%;
  }

  .grid-4 {
    -ms-grid-columns: 0.75fr 0.25fr 0.25fr;
    grid-template-columns: 0.75fr 0.25fr 0.25fr;
  }
}

@media screen and (max-width: 767px) {
  .grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .grid-4 {
    -ms-grid-columns: 0.75fr;
    grid-template-columns: 0.75fr;
  }
}

@media screen and (max-width: 479px) {
  .div-block {
    padding-right: 20px;
    padding-left: 20px;
  }

  .person {
    padding-right: 20px;
    padding-left: 20px;
  }

  .image {
    margin-bottom: 5px;
  }

  .grid-2 {
    grid-row-gap: 40px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}

#w-node-_247991db-69df-52b9-42ab-c04ba203798e-a14c7446 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-_5acca978-1b87-8e72-dea2-d108de1f48ad-a14c7446 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-eae958e3-a7d3-4cdd-add8-34d862783a23-a14c7446 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-bd7d7b9d-7524-b196-4871-c058dd05f587-a14c7446 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-_155153d0-2f72-9705-d192-2397ae18e8fe-a14c7446 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-_19d5d632-1746-793c-2f2f-a0b1bd587b6f-a14c7446 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-c06d22c6-ad4d-9e84-c3b7-250db436346b-a14c7446 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-_2274adda-b584-ecae-033e-20746a31d0e7-a14c7446 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-d5a5ad43-5bcb-67c1-37fa-40b587e4303b-a14c7446 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-_3577b3f4-d5a9-5dfc-d5d4-ac79b8f6a717-a14c7446 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-a81f42ba-777d-65b5-5963-228bcf24f635-a14c7446 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-_2f802ece-cd9b-6978-fbcb-fdfe21b7b847-a14c7446 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-af4ef806-fed0-f05d-9686-4f54198ab389-a14c7446 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-_18a413a0-f334-7480-5e11-3387b60add60-a14c7446 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-_140425cc-2cbe-72e5-a381-0e61e5341de7-a14c7446 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-be536c80-a664-cf90-c0c6-e2de3fdf300a-3fdf3002 {
  -ms-grid-column-align: end;
  justify-self: end;
}

#w-node-_002f62ab-98b1-1230-33bb-75237d7106d5-33ff4871 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-column-align: end;
  justify-self: end;
}

#w-node-e7133aea-4e31-6a9b-47c3-7bbc08ea2a31-33ff4871 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-column-align: end;
  justify-self: end;
}

@media screen and (max-width: 991px) {
  #w-node-be536c80-a664-cf90-c0c6-e2de3fdf3008-3fdf3002 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }
}

@media screen and (max-width: 767px) {
  #w-node-be536c80-a664-cf90-c0c6-e2de3fdf300a-3fdf3002 {
    -ms-grid-column-align: start;
    justify-self: start;
  }
}

html{visibility: visible;opacity:1;}